*.*
~*
.*
Debug/
Release/
settings/
CodeDB/

!*.c
!*.h
!*.cpp
!*.hpp
!*.s
!*.s68
!*.as*
!*.sdf
!*.sln
!*.suo
!*.dxn
!*.txt
!*.xlsm
!*.py
!*.xml
!*.bat
!*.mak
!*.lds
!*.vgdbsettings
!*.vcxproj
!*.vcxproj*
!ProfileCreator*.exe
!version
!Makefile
!.gitignore

